<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            text-align: center;
        }

        table {
            width: 90%;
            text-align: center;
        }

        th {
            background-color: cornflowerblue;
        }

        td {
            background-color: darkkhaki;
        }
    </style>
</head>

<body>
    <h1>PM2.5全台資訊</h1>
    <h2>更新時間為{{update_time}}</h2>
    <form action="" method="post">
        <button type="submit">排序</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for value in values %}
            <tr>
                {% for i in value %}
                <td>{{i}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>